<div class="educations">
  <div class="education-title">
    <h4>EDUCATION</h4>
  </div>
  <div class="items">
    <div class="item">
      <div class="item_key">
        <div class="item_date">
          <h4>2019 - 2020</h4>
        </div>
        <div class="item_point">
          <h5>Salesman</h5>
        </div>
      </div>
      <%= image_tag "dot.png", class: "dot" %>
      <div class="item_value">
        <div class="item_name">
          <h4>DALTON PHARMACY</h4>
          <p class="plus-2">plus ...</p>
        </div>
        <div class="item_description_2 no-display">
          <span>Sales assistant in an pharmacy to improve my English skills.
          I lived for one month with an host family and I have been taking
          English classes for two weeks.</span>
        </div>
      </div>
    </div>
  </div>
</div>
