<div class="hobbies">
  <div class="hobbies-title">
    <h4>HOBBIES</h4>
  </div>
  <div class="activities">
    <div class="activity">

    </div>
    <div class="activity">

    </div>
    <div class="activity">

    </div>
    <div class="activity">

    </div>
  </div>
</div>
