<div class="skills">
  <div class="skill">
    <h4>SKILLS</h4>
  </div>
  <div class="skill_category">
    <div class="skill_grid">
      <div class="skill_unit">
        <p>Microsoft ExCel - Advanced</p>
      </div>
      <div class="skill_unit">
        <p>Microsoft ExCel - Advanced</p>
      </div>
      <div class="skill_unit">
        <p>Microsoft ExCel - Advanced</p>
      </div>
      <div class="skill_unit">
        <p>Microsoft ExCel - Advanced</p>
      </div>
      <div class="skill_unit">
        <p>Microsoft ExCel - Advanced</p>
      </div>
      <div class="skill_unit">
        <p>Microsoft ExCel - Advanced</p>
      </div>
      <div class="skill_unit">
        <p>Microsoft ExCel - Advanced</p>
      </div>
      <div class="skill_unit">
        <p>Microsoft ExCel - Advanced</p>
      </div>
      <div class="skill_unit">
        <p>Microsoft ExCel - Advanced</p>
      </div>
    </div>
  </div>
</div>
