<div class="about_me">
  <div class="photo-header">
    <%= image_tag "photo_moi.jpg", class: "photo-moi" %>
  </div>
  <div class="about-me-text">
    <h1>Hello! I'm Maxime</h1>
    <p class="about-me-description">Currently in the 1st year of a Master Audit
    at ESSCA on the Angers campus, I am looking for an internship for a period
    of 16 weeks from January 3, 2022.
    <br>
    Being very attached to numbers and have
    an international outlook, I would like to gain experience in corporate
    finance in an English-speaking country.</p>
  </div>
</div>
