<div class="educations">
  <div class="education-title">
    <h4>EDUCATION</h4>
  </div>
  <div class="items">
  </div>
  <div id="timeline">
    <!-- start education section-->
    <div class="tl-item">
      <div class="tl-bg" style="background-image: url(<%= image_path "passy.jpg" %>)"></div>

      <div class="tl-year">
        <p class="f2 heading--sanSerif">2011 - 2018</p>
      </div>

      <div class="tl-content">
        <h1>Lorem ipsum dolor sit</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
        <div class="logo-item" style="background-image: url(<%= image_path "le_wagon_logo.jpg" %>)"></div>
      </div>
    </div>
    <!-- end education section-->

    <!-- start education section-->
    <div class="tl-item">

      <div class="tl-bg" style="background-image: url(<%= image_path "essca.jpg" %>)"></div>
        <div class="tl-year">
          <p class="f2 heading--sanSerif">2018 - 2023</p>
        </div>

      <div class="tl-content">
        <h1 class="f3 text--accent ttu">Vestibulum laoreet lorem</h1>
        <p>L'ESSCA est une Grande Ecole de commerce, quadruplement accréditée (AACSB, EPAS, EQUIS & AMBA)
        Classée "49th Master of Management worldwide" par le Financial Time's en 2016, elle est également classée meilleure école de commerce Française en 5 ans par le magazine de référence, Challenges en 2019.
        Créée en 1909 à Angers, l'ESSCA possède dorénavant des campus à Paris, Aix-en-Provence, Bordeaux, Lyon, Budapest et Shangaï.</p>

      </div>
    </div>
    <!-- end education section-->

    <!-- start education section-->
    <div class="tl-item">

      <div class="tl-bg" style="background-image: url(<%= image_path "le_wagon.jpg" %>)"></div>

      <div class="tl-year">
        <p class="f2 heading--sanSerif">2020</p>
      </div>

      <div class="tl-content">
        <h1 class="f3 text--accent ttu">Phasellus mauris elit</h1>
        <p>Mauris cursus magna at libero lobortis tempor. Suspendisse potenti. Aliquam interdum vulputate neque sit amet varius. Maecenas ac pulvinar nisi. Fusce vitae nunc ultrices, tristique dolor at, porttitor dolor. Etiam id cursus arcu, in dapibus nibh. Pellentesque non porta leo. Nulla eros odio, egestas quis efficitur vel, pretium sed.</p>
      </div>

    </div>
    <!-- end education section-->
  </div>
</div>
