<div class="educations">
  <div class="education-title">
    <h4>EDUCATION</h4>
  </div>
  <div class="items">
  </div>
  <div id="timeline">
    <!-- start education section-->
    <div class="tl-item">
      <div class="tl-bg" style="background-image: url(https://placeimg.com/801/801/nature)"></div>

      <div class="tl-year">
        <p class="f2 heading--sanSerif">2011</p>
      </div>

      <div class="tl-content">
        <h1>Lorem ipsum dolor sit</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
      </div>
    </div>
    <!-- end education section-->

    <!-- start education section-->
    <div class="tl-item">
      <div class="tl-bg"></div>
        <%= image_tag "essca.jpg", class: "item-image" %>
        <div class="tl-year">
          <p class="f2 heading--sanSerif">2013</p>
        </div>

      <div class="tl-content">
        <h1 class="f3 text--accent ttu">Vestibulum laoreet lorem</h1>
        <p>Suspendisse potenti. Sed sollicitudin eros lorem, eget accumsan risus dictum id. Maecenas dignissim ipsum vel mi rutrum egestas. Donec mauris nibh, facilisis ut hendrerit vel, fringilla sed felis. Morbi sed nisl et arcu.</p>
      </div>
    </div>
    <!-- end education section-->

    <!-- start education section-->
    <div class="tl-item">

      <div class="tl-bg" style="background-image: url(https://placeimg.com/803/803/nature)"></div>

      <div class="tl-year">
        <p class="f2 heading--sanSerif">2014</p>
      </div>

      <div class="tl-content">
        <h1 class="f3 text--accent ttu">Phasellus mauris elit</h1>
        <p>Mauris cursus magna at libero lobortis tempor. Suspendisse potenti. Aliquam interdum vulputate neque sit amet varius. Maecenas ac pulvinar nisi. Fusce vitae nunc ultrices, tristique dolor at, porttitor dolor. Etiam id cursus arcu, in dapibus nibh. Pellentesque non porta leo. Nulla eros odio, egestas quis efficitur vel, pretium sed.</p>
      </div>

    </div>
    <!-- end education section-->
  </div>
</div>
