<div class="experiences">
  <div class="experience-title">
    <h4>EXPERIENCE</h4>
  </div>
</div>
<div class="container">
  <div class="main-timeline">
    <!-- start experience section-->
    <div class="timeline">
        <div class="icon"></div>
        <div class="date-content">
            <div class="date-outer">
                <span class="date">
                        <span class="month">1 Months</span>
                <span class="year">2017</span>
                </span>
            </div>
        </div>
        <div class="timeline-content">
            <h5 class="title">Vendeur</h5>
            <p class="description">
               Sales assistant in an pharmacy to improve my English skills. I lived for one month with an host family and I have been taking English classes for two weeks.
            </p>
        </div>
    </div>
    <!-- end experience section-->

    <!-- start experience section-->
    <div class="timeline">
        <div class="icon"></div>
        <div class="date-content">
            <div class="date-outer">
                <span class="date">
                        <span class="month">3 Years</span>
                <span class="year">2018</span>
                </span>
            </div>
        </div>
        <div class="timeline-content">
            <h5 class="title">Tuteur</h5>
            <p class="description">
              Academic support for several groups of middle and high school students from the sixth to the second grade at the Passy-Buzenval school.
            </p>
        </div>
    </div>
    <!-- end experience section-->

    <!-- start experience section-->
    <div class="timeline">
        <div class="icon"></div>
        <div class="date-content">
            <div class="date-outer">
                <span class="date">
                        <span class="month">3 Months</span>
                <span class="year">2017</span>
                </span>
            </div>
        </div>
        <div class="timeline-content">
            <h5 class="title">Accounting Assistant</h5>
            <p class="description">
              In charge of client follow-up and creating the client annual balance sheet. This allowed me to apply my knowledge in accounting, taxation and financial analysis. In addition, I was able to acquire legal, social and IT skills by working with the different people in the company.
            </p>
        </div>
    </div>
    <!-- end experience section-->

    <!-- start experience section-->
    <div class="timeline">
        <div class="icon"></div>
        <div class="date-content">
            <div class="date-outer">
                <span class="date">
                        <span class="month">3 Years</span>
                <span class="year">2018</span>
                </span>
            </div>
        </div>
        <div class="timeline-content">
            <h5 class="title">Interim</h5>
            <p class="description">
              Hosting guests on prestigious sites such as the Salles Pleyel or Parisian palaces. Furthermore, at the end of the lockdown, distribution of hydro-alcoholic gel in Saint-Lazare train station.
            </p>
        </div>
    </div>
    <!-- end experience section-->

    <!-- start experience section-->
    <div class="timeline">
        <div class="icon"></div>
        <div class="date-content">
            <div class="date-outer">
                <span class="date">
                        <span class="month">1 Month</span>
                <span class="year">2019</span>
                </span>
            </div>
        </div>
        <div class="timeline-content">
            <h5 class="title">Animator</h5>
            <p class="description">
              Animator in summer camp, to obtain the BAFA (Certificate of Aptitude for Animator’s Function). Supervision of children from 6 to 17 years old over two weeks
            </p>
        </div>
    </div>
    <!-- end experience section-->

    <!-- start experience section-->
    <div class="timeline">
        <div class="icon"></div>
        <div class="date-content">
            <div class="date-outer">
                <span class="date">
                        <span class="month">2 Months</span>
                <span class="year">2020</span>
                </span>
            </div>
        </div>
        <div class="timeline-content">
            <h5 class="title">Gel Service / Manager</h5>
            <p class="description">
              Distribution of hydroalcoholic gel in the major Parisian stations as part of the post-containment barrier measures.
              Media coverage of the event including television appearances (TF1 8pm news), newspaper articles (Le Parisien) and the demonstration of the service to the Minister of Transport Elisabeth Borne and the Director of the RATP Catherine Guillouard.
              This allowed me to become manager of the 6 Nations tournament at the Stade de France
            </p>
        </div>
    </div>
    <!-- end experience section-->

    <!-- start experience section-->
    <div class="timeline">
        <div class="icon"></div>
        <div class="date-content">
            <div class="date-outer">
                <span class="date">
                        <span class="month">4 Months</span>
                <span class="year">2020</span>
                </span>
            </div>
        </div>
        <div class="timeline-content">
            <h5 class="title">Salesman</h5>
            <p class="description">
              I worked as a salesperson twice a week during lockdown. This was a student job to help finance a project working abroad.
            </p>
        </div>
    </div>
    <!-- end experience section-->


    <!-- start experience section-->
    <div class="timeline">
        <div class="icon"></div>
        <div class="date-content">
            <div class="date-outer">
                <span class="date">
                        <span class="month">4 Months</span>
                <span class="year">2021</span>
                </span>
            </div>
        </div>
        <div class="timeline-content">
            <h5 class="title">FinOps Internship</h5>
            <p class="description">
              Skale-5 is specialized in cloud and Devops. This internship is a continuation of my Le Wagon training. I was able to reinforce my knowledge in programming
              (SQL, Python) but also to work on new tools (Datastuio, GCP, Bigquery) to develop new IT skills
            </p>
        </div>
    </div>
    <!-- end experience section-->
  </div>
</div>


