<div class="navbar">
  <div class="languages">
    <%= link_to "FR", cv_path, class: "language" %>
    <span class="language" id="select">EN</span>
  </div>
  <%= link_to "DOWNLOAD MY ENTIRE RESUME",  cvenglish_path, class: "download" %>
</div>
