.about_me {
  color: #26357c;
  .photo-header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    .photo-moi {
      border-radius: 50%;
      border: 8px solid white;
      width: 400px;
      height: 400px;
      position: relative;
      top: -200px;
    }
  }
  .about-me-text {
    padding-top: 260px;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    height: 500px;
    h1 {
      letter-spacing: 8px;
    }
    .about-me-description {
      margin-top: 24px;
      letter-spacing: 1.5px;
    }
  }
}

@media (max-width: 1200px){
  .about-me-text {
    width: 60% !important;
  }
}

@media (max-width: 800px) {
  .photo-moi {
    width: 300px !important;
    height: 300px !important;
    top: -154px !important;
  }

  .about-me-text {
    width: 70% !important;
    padding-top: 180px !important;
    h1 {
      font-size: 32px !important;
    }
    .about-me-description {
      font-size: 14px !important;
    }
  }
}
