.about_me {
  background-color:#26357c;
  color: white;
  .photo-header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    .photo-moi {
      border-radius: 50%;
      border: 8px solid white;
      width: 360px;
      height: 360px;
      position: relative;
      top: -316px;
    }
  }
  .about-me-text {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    height: 280px;
    padding-top: 68px;
    h1 {
      letter-spacing: 8px;
    }
    .about-me-description {
      margin-top: 24px;
      letter-spacing: 1.5px;
      font-size: 16px;
    }
  }
}

@media (max-width: 1200px){
  .about-me-text {
    width: 60% !important;
  }
}

@media (max-width: 1050px) {
  .photo-moi {
    width: 300px !important;
    height: 300px !important;
  }

  .about-me-text {
    padding-top: 36px !important;
    width: 70% !important;
    h1 {
      font-size: 32px !important;
    }
    .about-me-description {
      font-size: 14px !important;
    }
  }
}

@media (max-width: 600px) {
  .about-me-text {
    padding-top: 36px !important;
    width: 70% !important;
    h1 {
      font-size: 22px !important;
    }
    .about-me-description {
      font-size: 12px !important;
    }
  }
}

