.footers {
  color: #26357c;
  .footer-title {
    width: 100%;
    background-color: #F4F4F4;
    border: 1px solid white;
    padding: 37px;
    h4 {
      font-size: 20px;
      letter-spacing: 0.3em;
      text-align: center;
      margin: 0px;
    }
  }
}

.footers-infos {
  display: flex;
  .quick-infos, .contact {
    width: 50%;
    padding-bottom: 46px;
    padding-top: 46px;
    h3 {
      font-size: 40px;
    }
    p {
      font-size: 18px;
    }
  }

  .red-square {
    height: 12px;
    width: 72px;
    background-color: #DF3143;
    margin-bottom: 40px;
  }
  .contact {
    background-color: #BAC8DD;
    color: #26357c;
    padding-left: 6%;
  }
  .quick-infos {
    padding-left: 16%;
    background-color: #26357c;
    color: white;
    .linkedin-logo {
      height: 40px;
      width: 40px;
      &:hover {
        background-color: #DF3143;
        border-radius: 50%;
        transition: 0.8s;
        box-shadow: 3px 3px 18px -1px rgba(0,0,0,0.71)
      }
    }
  }
  .info-key {
    display: flex;
    .info-value {
      display: flex;
      flex-direction: column;
      .values {
        &:hover {
          color: #DF3143;
          text-decoration: none;
          transition: 0.8s;
        }
      }
      .link {
        margin-bottom: 0px;
        margin-top: 8px;
      }
      .values {
        margin-left: 40px;
      }
    }
  }
  .form-container{
    width: 56.6%;
    ::placeholder {
      color: white;
    }
    .form-name-phone {
      display: flex;
      .form-name {
        margin-right: 40px;
      }
    }
    .form-email, .form-text {
      margin-top: 32px;
      .text {
        width: 100%;
      }
    }

    .form-name, .phone, .email, .text {
      background-color: #BAC8DD;
      border: none;
      border-bottom: 1.6px solid #26357c;
      color: #26357c;
    }

    .button-submit {
      background-color: #26357c;
      border: none;
      width: 100%;
      color: white;
      margin-top: 28px;
      padding: 8px;
      &:hover {
        background-color: white;
        color: #26357c;
        transition: 0.8s;
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 950px) {
  .footers {
    h4 {
      font-size: 16px !important;
    }
  }
  .footers-infos {
    flex-direction: column !important;
    .quick-infos, .contact {
      width: 100%;
    }
    .contact {
      padding-left: 16%;
    }
  }

  .form-name-phone, .form-email, .form-text, .quick-infos p {
    font-size: 14px !important;
  }

  .quick-infos, .contact {
    h3 {
      font-size: 32px !important;
    }
  }

  .linkedin-logo {
    height: 28px !important;
    width: 28px !important;
  }

  .red-square {
    height: 8px !important;
    width: 64px !important;
  }
}

@media (max-width: 550px) {
  .form-container{
    width: 81% !important;
  }

  .form-name-phone {
    display: contents !important;
    .form-name {
      margin-bottom: 32px;
      margin-right: 0px;
    }
  }
}
