.hobbies {
  background-color: $white;
  .activities {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 48px;
    padding: 24px;
    padding-top: 54px;
    padding-bottom: 40px;
    .activity-name {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 32px;
      font-size: 17px;
    }
    .hobby-image {
      height: 60px;
      width: 60px;
    }
    .tennis {
      width: 180px;
      height: 180px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $secondary-color;
      margin: 0 auto;
      &:hover {
        background-color: #f2c94c;
        transition: 0.8s;
        box-shadow: 3px 3px 18px -1px rgba(0,0,0,0.71)
      }
    }

    .run {
      width: 180px;
      height: 180px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $secondary-color;
      margin: 0 auto;
      &:hover {
        background-color: #926401;
        transition: 0.8s;
        box-shadow: 3px 3px 18px -1px rgba(0,0,0,0.71)
      }
    }

    .rugby {
      width: 180px;
      height: 180px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $secondary-color;
      margin: 0 auto;
      &:hover {
        background-color: #3a9b46;
        transition: 0.8s;
        box-shadow: 3px 3px 18px -1px rgba(0,0,0,0.71)
      }
    }

    .web {
      width: 180px;
      height: 180px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $secondary-color;
      margin: 0 auto;
      &:hover {
        background-color: #44a2c2;
        transition: 0.8s;
        box-shadow: 3px 3px 18px -1px rgba(0,0,0,0.71)
      }
    }

    .social {
      width: 180px;
      height: 180px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $secondary-color;
      margin: 0 auto;
      .social-image {
        height: 50px;
      }
      &:hover {
        background-color: #e88de8;
        transition: 0.8s;
        box-shadow: 3px 3px 18px -1px rgba(0,0,0,0.71)
      }
    }

    .travel {
      width: 180px;
      height: 180px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $secondary-color;
      margin: 0 auto;
      &:hover {
        background-color: #d4d702;
        transition: 0.8s;
        box-shadow: 3px 3px 18px -1px rgba(0,0,0,0.71)
      }
    }
  }
}

@media (max-width: 1360px) {
  .activities {
   grid-template-columns: repeat(6, 1fr) !important;
   grid-gap: 24px !important;
  }
}

@media (max-width: 1240px) {
  .activities {
   grid-template-columns: repeat(3, 1fr) !important;
   grid-gap: 60px !important;
  }
}

@media (max-width: 800px) {
  .activities {
   grid-template-columns: repeat(3, 1fr) !important;
   grid-gap: 30px !important;
  }
}

@media (max-width: 650px) {
  .activities {
   grid-template-columns: repeat(2, 1fr) !important;
   grid-gap: 8px !important;
  }
}
