.experiences, .educations {
  background-color: white;
}

.items {
  width: 60%;
  padding-top: 72px;
  padding-bottom: 8px;
  margin: 0 auto;
  .item {
    display: flex;
    margin-bottom: 64px;
    .item_key {
      padding-right: 40px;
      width: 200px;
      text-align: right;
      margin-right: 18px;
    }
    .item_value {
      padding-left: 40px;
      width: 70%;
      .item_name {
        display: flex;
        align-items: center;
        h4 {
          margin: 0;
        }
      }
      .item-image {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .item-image-square {
          height: 50px;
          width: 50px;
          margin-left: 54px;
        }
        .item-image-rectangle {
          height: 50px;
          width: 88px;
          margin-left: 54px;
        }
      }
    }
    .minus {
      height: 12px;
      width: 12px;
      margin-left: 16px;
    }

    .minus- {
      height: 2px;
      width: 12px;
      margin-left: 16px;
    }
  }
  .dot {
    width: 8px;
    height: 8px;
    margin-top: 12px;
  }
}
