.navbar {
  width: 100%;
  height: 100px;
  background-color: white;
  padding-left: 100px;
  padding-right: 60px;
  color: #003851;
  h3 {
    letter-spacing: 4px;
  }
  .languages {
    font-size: 16px;
    .language {
      color: #003851;
      padding: 16px;
      border-radius: 50%;
      &:hover {
        text-decoration: none;
        background-color: #BAC8DD;
        color: #003851;
        transition: 0.8s;
        box-shadow: 3px 3px 18px -1px rgba(0,0,0,0.30);
      }
    }
    #select {
      margin-left: 24px;
      background-color: #003851;
      color: white;
      border-radius: 50%;
      &:hover {
        transition: 0.8s;
        background-color: #BAC8DD;
        box-shadow: 3px 3px 18px -1px rgba(0,0,0,0.30);
        color: #003851
      }
    }
  }
  .download {
    padding: 10px 40px;
    border: 2px solid #003851;
    font-size: 12px;
    color: #003851;
    &:hover {
      background-color: #003851;
      border: 2px solid white;
      transition: 0.8s;
      text-decoration:none;
      color: white;
      box-shadow: 3px 3px 18px -1px rgba(0,0,0,0.30);
    }
  }
}

@media (max-width: 800px) {
  .name {
    display: none
  }
  .navbar {
    padding-right: 8px;
    padding-left: 8px;
  }
  #select {
    margin-left: 8px !important;
  }
}
