<div class="about_me">
  <div class="photo-header">
    <%= image_tag "photo_moi.jpg", class: "photo-moi" %>
  </div>
  <div class="about-me-text">
    <p class="about-me-description">Actuellement en 1ère année de Master Audit
      à l'ESSCA sur le campus d'Angers, je suis à la recherche d'un stage pour
      une durée de 16 semaines a compté du 3 janvier 2022.
      <br>
      Étant très attaché aux chiffres et ayant un attrait pour l'international,
      je souhaite réaliser cette expérience dans la finance d'entreprise dans un
      pays anglophone.</p>
  </div>
</div>
