<div class="experiences">
  <div class="experience-title">
    <h4>EXPERIENCE</h4>
  </div>
</div>
<div class="container">
  <div class="main-timeline">
    <!-- start experience section-->
    <div class="timeline">
        <div class="icon"></div>
        <div class="date-content">
            <div class="date-outer">
                <span class="date">
                        <span class="month">1 Mois</span>
                <span class="year">2017</span>
                </span>
            </div>
        </div>
        <div class="timeline-content">
            <h5 class="title">Vendeur</h5>
            <p class="description">
              Assistant de vente dans une pharmacie irlandaise pour améliorer mes compétences en anglais.
              J'ai vécu un mois dans une famille d'accueil et j'ai suivi des cours d'anglais pendant deux semaines.
            </p>
        </div>
    </div>
    <!-- end experience section-->

    <!-- start experience section-->
    <div class="timeline">
        <div class="icon"></div>
        <div class="date-content">
            <div class="date-outer">
                <span class="date">
                        <span class="month">3 Ans</span>
                <span class="year">2018</span>
                </span>
            </div>
        </div>
        <div class="timeline-content">
            <h5 class="title">Tuteur</h5>
            <p class="description">
              Accompagnement scolaire de plusieurs groupes de collégiens et lycéens allant de la sixième à la seconde, au collège Passy-Buzenval.
            </p>
        </div>
    </div>
    <!-- end experience section-->

    <!-- start experience section-->
    <div class="timeline">
        <div class="icon"></div>
        <div class="date-content">
            <div class="date-outer">
                <span class="date">
                        <span class="month">3 Mois</span>
                <span class="year">2017</span>
                </span>
            </div>
        </div>
        <div class="timeline-content">
            <h5 class="title">Stagiaire Comptable</h5>
            <p class="description">
              En charge du suivi et de la création du bilan annuel des clients. Cela m'a permis de mettre en pratique mes connaissances en comptabilité, fiscalité et analyse financière. De plus, j'ai pu acquérir des compétences juridiques, sociales et informatiques en travaillant avec les différentes personnes de l'entreprise.
            </p>
        </div>
    </div>
    <!-- end experience section-->

    <!-- start experience section-->
    <div class="timeline">
        <div class="icon"></div>
        <div class="date-content">
            <div class="date-outer">
                <span class="date">
                        <span class="month">3 Ans</span>
                <span class="year">2018</span>
                </span>
            </div>
        </div>
        <div class="timeline-content">
            <h5 class="title">Intérim</h5>
            <p class="description">
              Missions diverses et variées allant de l'accueil en loges lors d'évènements sportifs (stade de France) à la distribution de flyers.(Itirémia)
              <br>
              Hôte d’accueil sur des sites d’exceptions comme la salle Pleyel où des palaces parisiens.(Trinity)
            </p>
        </div>
    </div>
    <!-- end experience section-->

    <!-- start experience section-->
    <div class="timeline">
        <div class="icon"></div>
        <div class="date-content">
            <div class="date-outer">
                <span class="date">
                        <span class="month">1 Mois</span>
                <span class="year">2019</span>
                </span>
            </div>
        </div>
        <div class="timeline-content">
            <h5 class="title">Animateur</h5>
            <p class="description">
              Animateur stagiaire en colonie de vacances, pour l’obtention du BAFA (Brevet d’Aptitude aux Fonctions d’Animateur). Supervision de jeunes de 6 à 17 ans sur deux semaines.
            </p>
        </div>
    </div>
    <!-- end experience section-->

    <!-- start experience section-->
    <div class="timeline">
        <div class="icon"></div>
        <div class="date-content">
            <div class="date-outer">
                <span class="date">
                        <span class="month">2 Mois</span>
                <span class="year">2020</span>
                </span>
            </div>
        </div>
        <div class="timeline-content">
            <h5 class="title">Gel Service / Manager</h5>
            <p class="description">
              Distribution de gel hydroalcoolique dans les grandes gares parisiennes dans le cadre du respect des gestes barrières post-confinement.
              Couverture médiatique de l'événement notamment par des passages à la télévision (journal de 20h de TF1) et la démonstration de la prestation à la ministre des transports Elisabeth Borne et la directrice de la RATP Catherine Guillouard.
            </p>
        </div>
    </div>
    <!-- end experience section-->

    <!-- start experience section-->
    <div class="timeline">
        <div class="icon"></div>
        <div class="date-content">
            <div class="date-outer">
                <span class="date">
                        <span class="month">4 Mois</span>
                <span class="year">2020</span>
                </span>
            </div>
        </div>
        <div class="timeline-content">
            <h5 class="title">Boucher</h5>
            <p class="description">
              J'ai travaillé comme vendeur deux fois par semaine pendant le confinement. Un job étudiant pour m'aider à financer un projet de travail à l'étranger.
            </p>
        </div>
    </div>
    <!-- end experience section-->


    <!-- start experience section-->
    <div class="timeline">
        <div class="icon"></div>
        <div class="date-content">
            <div class="date-outer">
                <span class="date">
                        <span class="month">4 Mois</span>
                <span class="year">2021</span>
                </span>
            </div>
        </div>
        <div class="timeline-content">
            <h5 class="title">Stagiare FinOps</h5>
            <p class="description">
              Skale-5 est spécialisée dans le cloud et Devops. Ce stage est dans la continuité de ma formation Le Wagon. J'ai pu renforcer mes acquis dans la programmation
              (SQL, Python) mais aussi travailler sur de nouveaux outils (Datastuio, GCP, Bigquery) pour développer de nouvelles compétences informatiques.
            </p>
        </div>
    </div>
    <!-- end experience section-->
  </div>
</div>

