<div class="navbar">
  <div class="languages">
    <span class="language" id="select">FR</span>
    <%= link_to "EN", root_path, class: "language" %>
  </div>
  <%= link_to "DOWNLOAD MY ENTIRE RESUME", "https://www.leboncoin.fr/locations/2002711571.
  htm?fbclid=IwAR0dw12p68tbkKQ_Jte1m2JGDRCkThdMonFJbfG0MqBSegNk5_sX-Ai6MgE",
  class: "download" %>
</div>
