<div class="navbar">
  <div class="languages">
    <span class="language" id="selectfr">FR</span>
    <%= link_to "EN", root_path, class: "language" %>
  </div>
  <%= link_to "DOWNLOAD MY ENTIRE RESUME",  cvfr_path, class: "download" %>
</div>
