<div class="skills">
  <div class="skill">
    <h4>SKILLS</h4>
  </div>
  <div class="skill_category">
    <div class="skill_grid" style="background-image: url(<%= image_path "fe.jpg" %>)">
      <div class="skill_unit">
        <p>Français - Natif</p>
      </div>
      <div class="skill_unit">
        <p>Anglais - Courant</p>
      </div>
      <div class="skill_unit">
        <p>Espagnol - B1</p>
      </div>
      <div class="skill_unit">
        <p>Pack Office - Expert</p>
      </div>
      <div class="skill_unit">
        <p>Figma - Avancé</p>
      </div>
      <div class="skill_unit">
        <p>Datastudio - Expert</p>
      </div>
      <div class="skill_unit">
        <p>HTML CSS JavaScript - Expert</p>
      </div>
      <div class="skill_unit">
        <p> SQL BigQuerry - Avancé</p>
      </div>
      <div class="skill_unit">
        <p>Ruby PHP Python - Avancé</p>
      </div>
    </div>
  </div>
</div>
