<div class="skills">
  <div class="skill">
    <h4>SKILLS</h4>
  </div>
  <div class="skill_category">
    <div class="skill_grid">
      <div class="skill_unit">
        <p>French - Mother Tongue</p>
      </div>
      <div class="skill_unit">
        <p>English - Fluent</p>
      </div>
      <div class="skill_unit">
        <p>Spanish - B1</p>
      </div>
      <div class="skill_unit">
        <p>Pack Office - Expert</p>
      </div>
      <div class="skill_unit">
        <p>Figma - Advanced</p>
      </div>
      <div class="skill_unit">
        <p>Datastudio - Expert</p>
      </div>
      <div class="skill_unit">
        <p>HTML CSS JavaScript - Expert</p>
      </div>
      <div class="skill_unit">
        <p> SQL BigQuerry - Advanced</p>
      </div>
      <div class="skill_unit">
        <p>Ruby PHP Python - Advanced</p>
      </div>
    </div>
  </div>
</div>
